.navbar {
  height: 100px;
  padding: 10px;
  background-color: rgb(51, 6, 51);
}
.divdash {
  background-color: rgb(71, 10, 71);
  height: calc(100vh - 100px);
}
.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
.card {
  font-family: sans-serif;
  text-align: center;
  padding: 25px;
  margin: 15px;
  border-radius: 25px;
}
.cardbody {
  position: "relative";
  bottom: 0;
  right: 0;
}
.cardtitle {
  font-size: xx-large;
  font-weight: 700;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}